.btn {

    @extend .text-uppercase;
    border-radius: $border-radius-base * 1.5;
    letter-spacing: $extra-letter-spacing;

    @media(min-width: $screen-sm-min) {
        padding: ($padding-base-vertical * 1.5) ($padding-base-horizontal * 3);
    }
}


.btn.custom-button {
    @extend .small;

    background: none;
    box-shadow: none;
    border: 0px;
    outline: 0;

    &:hover, &:active, &:focus, &:visited {
        span {
            @extend .text-underline;
        }

        outline: 0;
        background: none;
    }

}

.dropdown-menu.custom-dropdown {
    @extend .text-center;
    padding: 10px $line-height-computed;
    border-radius: 0;
    border: 0px;
    background: $lila;

    a {
        @extend .text-underline;
        @extend .extra-letter-spacing;
        color: white !important;
        line-height: $line-height-computed * 1.5 !important;

        &:hover {
            background: darken($lila, 5%) !important;
        }
    }

    li:last-of-type > a {
        border-bottom: 0px;
    }

    &.bullet:after {
        border-bottom-color: $lila;
    }
}