.btn {

    @extend .text-uppercase;
    border-radius: $border-radius-base * 1.5;
    letter-spacing: $extra-letter-spacing;

    @media(min-width: $screen-sm-min) {
        padding: ($padding-base-vertical * 1.5) ($padding-base-horizontal * 3);
    }
}