@charset "UTF-8";

$slick-arrow-color: $red !default;
$slick-dot-color: black !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
// Custom bootstrap carousel styling


$arrow-width: 5%;


.team .caption {
    @extend .team-member-info-overlay;

}

.personal_story .caption {
    position: absolute;
    bottom: 40px;
    background: $red;
    color: white;
    text-align: center;
    padding: 0 10px 30px 10px;
    width: 100%;
}

.slick-container {
    @extend .carousel;
    @extend .background-position;

    .slick {
        @extend .carousel-inner;

        .slide {
            @extend .item;
            position: relative;

            .slide-content {
                @extend .background-position;
            }
        }

        @media(min-width: $screen-sm-min) {
            width:100% - ($arrow-width * 2);
            margin-left: $arrow-width;
            margin-right: $arrow-width;
        }

    }

    .slick-arrow {
        @extend .carousel-control;
        opacity: 1;
        width: $arrow-width;
        background-image: none !important;
        background-color: $aqua;
        z-index: 99;
        text-shadow: none;

        .glyphicon {
            position: absolute;
            font-size: 30px;
            top: 50%;
            margin-top: -10px;
            z-index: 5;
            display: inline-block;
            &.glyphicon-menu-left {
                left: 50%;
                margin-left: -10px;
            }
            &.glyphicon-menu-right {
                right: 50%;
                margin-right: -10px;
            }
        }
    }

    .slick-dots {
        @extend .carousel-indicators;
        text-align: center;
        padding-bottom: 20px;
        li {
            margin: 0 3px;
            button {
                display: none;
            }

            &.slick-active {
                background: white;
            }
        }
    }
}
