@charset "UTF-8";

$slick-arrow-color: $red !default;
$slick-dot-color: black !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
// Custom bootstrap carousel styling


$arrow-width: 6%;


.slick-container.team .caption {
    @extend .team-member-info-overlay;
}

.slick-container.personal_story .caption {
    position: absolute;
    bottom: 40px;
    background: $red;
    color: white;
    text-align: center;
    width: 80%;
    left: 10%;
}

.slick-container {
    .adjust-height {
        overflow: visible;
    }
}

.slider-tabs {
    overflow: hidden;
    margin-bottom: $grid-gutter-width;
    padding-left: 0;
    li {
        list-style: none;

        img {
            max-width: 150px;
        }

        @media(min-width: $screen-sm-min) {
            opacity: 0.3;

            img {
                max-width: 100%;
            }
        }

        &.active {
            opacity:1;
        }

    }

    p {
        display: none;
    }
}

.slick-container {
    @extend .carousel;
    @extend .background-position;

    .slick {
        @extend .carousel-inner;

        .slide {
            @extend .item;
            height: auto;
            position: relative;

            .slide-content {
                @extend .background-position;
            }
        }

        .caption {
            // padding-left: $arrow-width;
            // padding-right: $arrow-width;
            p {
                @media(min-width: $screen-sm-min) {
                    display: inline-block;
                    width:80%;
                }
            }
        }
    }

    &.arrows {

        &.team {
            .slick {
                @media(min-width: $screen-sm-min) {
                    $arrow-offset: $arrow-width - 0.5%;
                    width:100% - ($arrow-offset * 2);
                    margin-left: $arrow-offset;
                    margin-right: $arrow-offset;
                }
            }
        }
    }

    .slick-arrow {
        @extend .carousel-control;
        color: inherit;
        opacity: 1;
        width: $arrow-width;
        background-image: none !important;
        z-index: 99;
        text-shadow: none;

        &:hover, &:active, &:focus {
            opacity: 1 !important;
            color: inherit !important;
        }

        .icons {
            position: absolute;
            display: inline-block;
            font-size: 40px;
            margin-top: -10px;
            z-index: 5;

            &.icon-arrow-left {
                left: 50%;
                margin-left: -20px;
            }
            &.icon-arrow-right {
                right: 50%;
                margin-right: -20px;
            }
        }
    }

    .slick-dots {
        @extend .carousel-indicators;
        text-align: center;
        margin-bottom: 0;
        li {
            border-color: inherit;
            margin: 0 3px;
            button {
                display: none;
            }

            &.slick-active {
                border: 5px solid;
            }
        }
    }
}
