@include font-face("Irma Regular", "../fonts/IrmaTextSlab-Regular", null, null, eot otf svg ttf woff);
@include font-face("Whitney HTF SemiBold", "../fonts/WhitneyHTF-SemiBold", null, null, eot otf svg ttf woff);

// Offset for fixed nav bar
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
}

@include headings() {
    font-family:'Whitney HTF SemiBold';
}

// Mixitup filter view
.mix{
    display: none;
}

// Custom bootstrap carousel styling
.carousel {
    .carousel-control {
        &.right, &.left {
            background-image:none;
        }
    }
}


/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}