// Offset for fixed nav bar
body {
    background: $light-gray;
    padding-top: $navbar-height;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.text-underline {
    border-bottom: 1px solid;
}

.text-bold {
    font-weight: bold;
}

.extra-letter-spacing {
    letter-spacing: $extra-letter-spacing;
}

.big {
    font-size: $font-size-base;

    @media(min-width: $screen-sm-min) {
        font-size: $font-size-base * 1.3;
    }
}

.extra-big {
    font-size: $font-size-base * 2;

    @media(min-width: $screen-sm-min) {
        font-size: $font-size-base * 4;
    }
}

$extra-padding: $line-height-computed * 1.5;
.extra-padding-vertical {
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;

    @media(min-width: $screen-sm-min) {
        padding-top: $extra-padding;
        padding-bottom: $extra-padding;
    }
}

.extra-padding-horizontal {
    padding-left: $line-height-computed;
    padding-right: $line-height-computed;

    @media(min-width: $screen-sm-min) {
        padding-left: $extra-padding;
        padding-right: $extra-padding;
    }
}

.white {
    background-color: white;
}

.red {
    background-color: $red;
}
.dark-blue {
    background-color: $dark-blue;
}
.aqua {
    background-color: $aqua;
}
.lila {
    background-color: $lila;
}
.dark-lila {
    background-color: $dark-lila;
}

.text-white {
    color: white;

    a {
        color: white;
    }
}

.icons {
    img {
        max-width:150px;
    }
}

.adjust-height {
    overflow: hidden;

    [class*="col-"] {
        margin-bottom: -99999 + $extra-padding;
        padding-bottom: 99999px;
    }
}

// Mixitup filter view
.mix{
    display: none;
    background: $aqua;
}

/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene {
    .scene_element {
        animation-duration: 0.25s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
        &--fadein {
            animation-name: fadeIn;
        }
    }
    &.is-exiting .scene_element {
        animation-direction: alternate-reverse;
    }
}

/*
 * Keyframes
 */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}