.navbar-default {

    border: 0;
    margin-bottom: 0;
    background: rgba(255,255,255,0.9);

    .navbar-header {

        .brand img {
            height: $navbar-height / 2;
            margin: ($navbar-height / 4) ($grid-gutter-width / 2);

            @media(min-width: $screen-md-min) {
                margin-left: 0;
            }
        }
    }

    .navbar-nav {

        @media(min-width: $screen-md-min) {
            float: right;
        }

        li.main-menu-item {
           $v: ($navbar-height - $line-height-computed) / 2;
           $h: floor(($grid-gutter-width / 2));
           $o: 5px;
           > a {
               @extend .text-uppercase;
               font-weight: 400;
               letter-spacing: $extra-letter-spacing;
               font-size: $font-size-small;
           }

           @media(min-width: $screen-md-min) {
               > a {
                   padding: 0 0 $o 0;
                   margin-top: $v;
                   margin-bottom: $v - $o;
                   margin-right: $h;
                   margin-left: $h;
                   border-bottom: 1px solid $dark-blue;
               }

               &.active, &:hover, &:focus, &.open, &.current-menu-ancestor {
                   > a {
                       border-bottom: 1px solid $aqua;
                       background: transparent;
                   }
               }
           }
       }
    }
}

.dropdown-menu.custom-dropdown {
    a {
        @extend .extra-letter-spacing;
    }

    @media(min-width: $screen-md-min) {
        text-align: center;
        padding: 10px 0;
        border-radius: 0;
        border: 0px;
        background: $purple;

        a {
            border-bottom: 1px solid lighten($purple, 10%);
            color: white !important;
            line-height: $line-height-computed * 1.5 !important;

        }

        li.active, li:hover {
            a {
                background: lighten($purple, 10%) !important;
            }
        }

        li:last-of-type > a {
            border-bottom: 0px;
        }

        &.bullet:after {
            border-bottom-color: $purple;
        }
    }
}