.featured-image {
    @extend .background-position;
    width: 100%;
    display: table;
    height: 300px;

    // @media(min-width: $screen-sm-min) {
    //     margin-bottom: $line-height-computed * 3;
    // }

    .featured-image-inner {
        display: table-cell;
        vertical-align: middle;
    }

    @media(max-width: $screen-xs-max) {
        min-height: 200px !important;
    }
}

.block-icons {
    img {
        max-width: 150px;
    }

    @media(min-width: $screen-sm-min) {
        img {
            max-width: 100%;
        }
    }
}

.block-simple-text {

    .background-image {
        @extend .background-position;
        min-height: 100px;
        width: 100%;
        // height:100%;
    }

    @media(min-width: $screen-sm-min) {
        .content-row {
            @include display(flex);
            @include flex-wrap(wrap);

            [class*='col-'] {
                @include display(flex);
                @include flex-direction(row);
            }

            .background-image {
                // height: 100%;
            }
        }
    }
}

.block-content {
    @extend .extra-padding-vertical;

    margin-top: $grid-gutter-width * 2;

    @media(min-width: $screen-sm-min) {
        margin-top: $grid-gutter-width * 3;
    }
}