.post-list {
    // @extend .text-white;

    .post-list-item {

        &.flex {
            display: flex;
            flex-wrap: wrap;
        }

        padding: 0;

        .post-list-image {
            @extend .background-position;
            width: 100%;
            height: 100px;
            position: relative;
            // opacity: 0.3;

            .arrow {
                @include arrow(10px);
            }
        }

        .venture-logo {
            background: white;
            position: relative;
        }


        .blog-post-more-button {
            $padding: 40px;
            @include border-top-radius(50%);
            @include border-bottom-radius(50%);
            @include calc(left, "50% - (#{$padding} / 2)");
            bottom: - ($padding / 2);
            box-shadow: 2px 2px 4px rgba($dark-blue, 0.7);
            width: $padding;
            height: $padding;
            color: $dark-blue;
            background: white;
            position: absolute;
            font-size: 28px;
            display: none;
            text-align: center;

            .plus {
                @include transition-property(transform);
                @include transition-duration(0.25s);
                @include transition-timing-function(ease-out);

            }

            @media(min-width: $screen-sm-min) {
                display: block;
            }

            &:hover .plus{
                @include transform(rotate(180deg));
            }

        }

        // &:hover {
        //     .post-list-image {
        //         opacity: 1;
        //     }
        // }

        .entry-summary {
            // padding-bottom: $padding-base-vertical * 4;

            .icons {
                vertical-align: middle;
            }
        }

        .bottom-right {
            position: absolute;
            bottom: $padding-base-vertical;
            right: $padding-base-horizontal;
            padding-top: $padding-base-vertical;
        }

    }

    @media(min-width: $screen-sm-min) {
        $height: 260px;
        .post-list-item {
            .equal-height, .post-list-image {
                height: $height;
            }
            &:nth-child(2) {
                article {
                    order: 2;
                }

                img {
                    order: 1;
                }

                .arrow {
                    @include arrow(10px, 'up');
                }
            }
        }
    }

}

.post-grid-item-wrapper-wrapper {
    @extend .no-padding;
    @extend .background-position;

    .post-grid-item-wrapper {
        @include transition(opacity 0.2s ease-in 0s);

        &:hover {
            opacity: 0.8;
        }

        $content-height: 100px;

        @extend .overlay-dark-blue;
        @include calc(padding-bottom, "50% - (#{$content-height} / 2)");
        @include calc(padding-top, "50% - (#{$content-height} / 2)");
    	width: 100%;
    	position: relative;
        display: table;

        .post-grid-item {
            display:table-cell;
            vertical-align: middle;
            height: $content-height;

            .more {
                position: absolute;
                bottom: 20px;
                left: 50%;
            }

        }

    }
}

.border-element {
    @media(min-width: $screen-sm-min) {
        position: absolute;
        left: 0;
        height: 80%;
        top: 10%;
        width: 100%;
        border-right: 1px solid white;
    }
}